html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card:hover {
    box-shadow: 20px 20px 80px -44px #000;
    transition: .25s ease-in-out;
    cursor: pointer;
}

.card-title {
    text-align: left;
    font-size: 18px;
    padding:  10px 0px 10px 0px;
}

.card-text {
    text-align: left;
    font-size: 16px;
}

.card-text-price {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#product-image-details img {
    max-height: 700px;
    object-fit: cover;
}

.list-group-item {
    box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
}

.divider {
    display: flex;
    align-items: center;
}

.divider::before {
        flex: 1;
        content: '';
        padding: 1px;
        opacity: 0.3;
        background-image: linear-gradient(to left, rgb(48,49,51), transparent);
}

    .divider::after {
        flex: 1;
        content: '';
        padding: 1px;
        opacity: 0.3;
        background-image: linear-gradient(to right, rgb(48,49,51), transparent);
    }